{% extends "base.html" %}
{% block content %}
<main>
    <section class="add-book-section">
        <h2>Add New Card</h2>

        <form method="POST" class="add-book-form">
            <label>Title Card Name:</label>
            <input type="text" name="book_name" placeholder="Enter title" required>

            <label>Author Name:</label>
            <input type="text" name="author_name" placeholder="Enter author name" required>

            <label>Content:</label>
            <textarea name="content" placeholder="Enter content / summary" required></textarea>

            <div class="form-buttons">
                <button type="submit" class="submit-btn">Add </button>
                <button type="button" class="back-btn" onclick="history.back()">Back</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
