{% extends "base.html" %}

{% block content %}
<h2>Manage Accounts</h2>

<!-- Flsh Mssgs -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-box">
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
                <a class="sort-arrow" href="?sort_by=id&order=asc">▲</a>
                <a class="sort-arrow" href="?sort_by=id&order=desc">▼</a>
            </th>

            <th>
                Full Name
                <a class="sort-arrow" href="?sort_by=full_name&order=asc">▲</a>
                <a class="sort-arrow" href="?sort_by=full_name&order=desc">▼</a>
            </th>

            <th>
                Username
                <a class="sort-arrow" href="?sort_by=username&order=asc">▲</a>
                <a class="sort-arrow" href="?sort_by=username&order=desc">▼</a>
            </th>

            <th>
                Role
                <a class="sort-arrow" href="?sort_by=role&order=asc">▲</a>
                <a class="sort-arrow" href="?sort_by=role&order=desc">▼</a>
            </th>

            <th>Actions</th>
        </tr>
    </thead>


    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>

            <td>
                <a class="action-btn reset-btn"
                   href="{{ url_for('reset_password', user_id=user.id) }}"
                   onclick="return confirm('Are you sure you want to reset this password?')">
                   Reset Password
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
