{% extends "base.html" %}
{% block content %}

<section class="signup-section">
    <h2>Reset Password for {{ user.username }}</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label>New Password:</label>
        <input type="password" name="new_password" required>

        <label>Confirm Password:</label>
        <input type="password" name="confirm" required>

        <button type="submit">Reset</button>
    </form>

    <br>
    <button onclick="location.href='{{ url_for('advance_manage_accounts') }}'">Back</button>
</section>

{% endblock %}
